#bar{
	
	font-size:20px;

	
	max-width:400px;

}
#info{
	vertical-align:middle;
}
#imgtime{
	height:22px;
	width:22px;
	vertical-align:middle;
}
#imgfl{
	height:25px;
	width:25px;
	vertical-align:middle;
	margin-left:30px;
}
#FL,#SC,#RS{
	background-color:#ADADAD;
	font-size:18px;
	margin:0px 20px;
	padding:4px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: inline;
}
#FL{
	background-color:#D9B3B3;
}
#bt{
	margin-top:20px;

}
body{
	margin:0 auto;
	font-family:Arial;
	text-align:center;
-webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  width:100%;
}
#timerLabel{
	margin-right:30px;
}
#flagsLabel{
	
}
.cell_closed {
    float:left;
    background-color:#1C86EE;
    background-size: 100%;
    width:35px;
    height:35px;
    text-align:center;
    margin-left:0px;
    margin-bottom:0px;
}
.cell_opened{
    float:left;
    background-color:#F0F0F0;
    background-size: 100%;
    width:35px;
    height:35px;
    text-align:center;
    margin-left:0px;
    margin-bottom:0px;
}
#atitle{
	font-size:52px;
	margin:10px;
	font-weight:bold;
}
.mask {
	position:absolute;
	background:black;
	top:0px;
	left:0px;
	z-index:100;
	width:100%;
	height:100%;
	filter:alpha(opacity=50);
	opacity:0.50;
	display:none;
}
#gamemessage{
	z-index:101;
	position:absolute;
	background:#1cb6ef;
	vertical-align:middle;
	top:35%;
	width:100%;
	height:30%;
	left:0px;
	filter:alpha(opacity=80);
	opacity:0.80;
	vertical-align:middle;
	font-size:30px;
	display:none;
	
}
#winorlose{
	margin:8px 0;

}
#scoretable{
	border:1;
	width:90%;
	max-width:300px;
	text-align:center;
	background-color:#FAFAD2;
		border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size:14px;
	padding:5px;
}
#tick{
	font-size:18px;
	margin:30px 0;
	line-height:25px;
}
#scoreBoard{
	font-size:18px;
	display:none;
}
a{
	color:#fb2a2a;
	font-weight:bold;
}
@media only screen and (max-width:320px) { 
#FL,#SC,#RS{
	background-color:#ADADAD;
	font-size:15px;
	margin:0px 18px;
	padding:6px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: inline;
}
#FL{
	background-color:#D9B3B3;
}
.cell_closed {
    float:left;
    background-color:#1C86EE;
    background-size: 100%;
    width:30px;
    height:30px;
    text-align:center;
    margin-left:0px;
    margin-bottom:0px;
}
.cell_opened{
    float:left;
    background-color:#F0F0F0;
    background-size: 100%;
    width:30px;
    height:30px;
    text-align:center;
    margin-left:0px;
    margin-bottom:0px;
}
#atitle{
	font-size:48px;
	margin:8px;
	font-weight:bold;
}
#timerLabel{
	margin-right:10px;
}
#flagsLabel{
	
}
#bar{
	font-size:18px;

}
#imgtime{
	height:20px;
	width:20px;
	vertical-align:middle;
}
#imgfl{
	height:22px;
	width:22px;
	vertical-align:middle;
	margin-left:10px;
}

}