#bar{
	
	font-size:20px;
	background-color:#84C1FF;
	
	max-width:400px;

}
#info{
	line-height:30px;
	color:white;
}

#FL,#SC,#RS{
	background-color:#ADADAD;
	font-size:18px;
	margin:0px 15px;
	padding:7px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: inline;
}
#FL{
	background-color:#D9B3B3;
}
#bt{
	margin-top:20px;

}
body{
	margin:0 auto;
	font-family:Arial;
	text-align:center;
-webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
}
#timerLabel,#flagsLabel{
	margin:0px 25px;
}
.cell_closed {
    float:left;
    background-color:#53FF53;
    background-size: 100%;
    width:35px;
    height:35px;
    text-align:center;
    margin-left:0px;
    margin-bottom:0px;
}
.cell_opened{
    float:left;
    background-color:#CEFFCE;
    background-size: 100%;
    width:35px;
    height:35px;
    text-align:center;
    margin-left:0px;
    margin-bottom:0px;
}
h2{
	font-size:50px;
	margin:10px;
}
